.border-shine {
  background: linear-gradient(270deg, #ffd700, #30054A, #ffd700);
  background-size: 600% 600%;
  animation: borderGlow 4s ease infinite;
}

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* From Uiverse.io by Ali-Tahmazi99 */ 
/* From uiverse.io by @Ali-Tahmazi99 */
button {
 display: inline-block;
 width: 80px;
 height: 30px;
 border-radius: 30px;
 border: 2px solid #e1b2ff;
 position: relative;
 overflow: hidden;
 transition: all 0.5s ease-in;
 z-index: 1;
}

button::before,
button::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}

button::before {
 left: -10px;
 background: #30054A;
}

button::after {
 right: -10px;
 background: #692395;
}

button:hover::before,
button:hover::after {
 width: 58%;
}

button:hover span {
 color: #e0aaff;
 transition: 0.3s;
}

button span {
 color: #e1b2ff;
 font-size: 18px;
 font-weight: 500;
 transition: all 0.3s ease-in;
}