.border-shine {
  background: linear-gradient(270deg, #ffd700, #30054A, #ffd700);
  background-size: 600% 600%;
  animation: borderGlow 4s ease infinite;
}

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
